@{
    Page.Title = "Suit v3";
}
<img src="~/Images/Arc2.png" alt="Arc reactor (Palladium)" />
@section Info {
    <p>
        The Mark VI was the first suit built by Tony Stark that could be fully submerged into the water and still function properly, as seen in the opening of The Avengers. 
        Tony Stark, after his battle with Ivan Vanko in Iron Man 2, has added immunity to electricity. The Mark VI has shown itself capable of weathering Thor's lightning 
        with only superficial damage and going toe-to-toe with the Thunder God himself. Even absorbing the energy from Thor's lightning and supercharging the power of the suit to 475%.
    </p><br />
}
@section Links{
    <a href="Mark3.cshtml">Mark III</a>
}